# For TiDB playground cluster on local.
TIDB_HOST=localhost
TIDB_PORT=4000
TIDB_USERNAME=root
TIDB_PASSWORD=

# For TiDB cloud serverless cluster.
#TIDB_HOST=gateway01.<your_region>.prod.aws.tidbcloud.com
#TIDB_PORT=4000
#TIDB_USERNAME=<your_cluster_prefix>.root
#TIDB_PASSWORD=<your_password>

# Or you can use DATABASE_URL to specify the connection string directly.
#DATABASE_URL=mysql+pymysql://root:@localhost:4000/test
# 
# If you are using TiDB cloud serverless cluster, you can use the following connection string.
#DATABASE_URL=mysql+pymysql://xxxx.root:<PASSWORD>@<HOST>:4000/test&ssl_verify_cert=true&ssl_verify_identity=true

OPENAI_API_KEY=sk-proj-****
JINAAI_API_KEY=jina_****